.default-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
  color: #101115;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.page-item a {
  color: inherit; /* Ensures the text color is inherited from the parent */
  text-decoration: none; /* Removes the default underline from the link */
}

.page-item.active {
  background: #0f9d58; /* Example active background color */
  color: #fff; /* Example active text color */
}
